<section class="pagination">
    <% if (currentPage !== 1) { %> <a href="?page=1">1</a> <% } %>
    <% if (hasPreviousPage && previousPage !== 1) { %> 
        ...
        <a href="?page=<%= previousPage %>"><%= previousPage %></a> 
    <% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if (nextPage && lastPage !== currentPage) { %> 
        <a href="?page=<%= nextPage %>"><%= nextPage %></a> 
    <% } %>
    <% if (hasNextPage && lastPage-currentPage > 1) { %> 
        ...
        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
</section>